.popup {
    position: absolute;
    width: 169px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    text-align: center;
    color: black;
    border-radius: 8px;
    transform: translateX(-50%);
}